:root{
    --bg-main: #f2f9ff;
    --title-color: #2a6fa8;
    --card-bg: #ffffff;
    --card-border: #d6ecf7;
    --flavors-bg: rgba(0,0,0,0.7);
}
header, footer{
    width: 100%;
    box-sizing: border-box; 
    padding: 0 20px;
    margin: 0; 
}
.catalog-main{
    margin-top: 130px;
    margin-bottom: 80px;
    padding: 0 10px;
}
body{
    background-color: var(--bg-main);
    margin: 0;
    padding: 20px;
}
.catalog-main h1{
    text-align: center;
    color: var(--title-color);
    margin-bottom: 30px;
}
.katalog{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: stretch;
}
.product{

    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 250px;
    min-height: 200px;
    border-radius: 16px;
    transition: transform 0.5s ease;
    background-color: var(--card-bg);
    border: 2px groove var(--card-border);
    padding: 18px;
    text-align: center;
}
.product img{
    max-width: 100%;
    height: 140px;
    object-fit: contain;
    display: block;
    transition: transform 0.5s ease;
    margin: 20px;
}
.flavors{
    direction: rtl;
}
.flavors h3{
    color: #f7f4f4;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}
a{
    color: rgb(241, 104, 104);
    text-decoration: none;
}
.flavors ul{
    list-style: none;            
    padding: 0;
    margin: 0;
}
.flavors ul li{
    font-size: 16px;
    color: #555;
    margin: 5px 0;
    padding: 6px 12px;
    background: linear-gradient(145deg, #f0e6f6, #e0d6f0); 
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background 0.5s ease;
}
.flavors ul li:hover {
    background: linear-gradient(145deg, #d8c0e0, #c8b0d0);
    color: #000;
}
.product .flavors{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--flavors-bg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    padding: 10px;
}
.product:hover{
    transform: scale(1.05);
}
.product:hover .flavors{
    opacity: 1;
}
@media (max-width: 768px){
    .catalog-main{
        margin-top: 200px;
    }
    .catalog-main h1{
        font-size: 1.5rem; 
        margin-bottom: 20px;
        text-align: center;
    }
    .katalog{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .product{
        width: 250px;
        min-height: 200px;
    }
}